_github/
.github/
.changeset/
.vscode/
src/
env/
types/
packages/

.editorconfig
.gitignore
.gitattributes
commitlint.config.cjs
eslint.config.mjs
vite.config.mts
pnpm*.yaml
tsconfig*.json
*.vsix

!packages/view/dist/assets/**